html {
  cursor: pointer;
  overflow-y:scroll;
}

body {
  background-color: #171717;
  font-family: sans-serif;
  cursor: default;
  margin: 0;
  padding: 0 1em;
  box-sizing: border-box;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #ededed; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #da0037;
  height: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ae002c; 
  
}

.container {
    width: 300px;
    color: #fff;
}

#header {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mode-toggle {
  background: transparent url(assets/lightModeIcon.png) no-repeat center;  /* background-color background-image background-repeat background-position */
  border: none;
  width: 30px;
}

.mode-toggle:hover {
  cursor: pointer;
}

.light-mode-toggle{
  cursor: pointer;
}

.light-mode-toggle {
  background-image: url(assets/darkModeIcon.png);
}

#appLogo {
  padding: 1em 1em 1em 0.5em;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 8px 0 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  align-items: center;
  background-color: #da0037ff;
  box-shadow: 0px 0px 2px 5px #DA0037;
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  margin: 25px 0;
  transition: transform 0.2s ease-in-out;

}

.bookmark:hover {
  cursor: pointer;
  transform: translateX(0.5em);
  
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.bookmark-controls img:nth-child(1):hover {
  content: url("assets/playHover.png");
}

.bookmark-controls img:nth-child(2):hover {
  content: url("assets/deleteHover.png");
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

/* Light Mode */
.light-mode-body {
  background-color: #fff;
}

.light-mode-logo {
  content: url("assets/logoDarkMode.png");
}

.light-mode-title {
  color: #DA0037;
}

.light-mode-body::-webkit-scrollbar-track {
  background: #bababa; 
}
